---
import LinkButton from "@/components/LinkButton.astro";
import ReactIcon from "@/icons/Reactjs.astro";
import ReduxIcon from "@/icons/Redux.astro";
import CssIcon from "@/icons/CSS.astro";
import ExpressIcon from "@/icons/Express.astro";
import GithubIcon from "@/icons/GithubPreview.astro";

const TAGS = {
    REACT: {
        name: "React.js",
        class: "bg-black text-sky",
        icon: ReactIcon,
    },

    REDUX: {
        name: "Redux.js",
        class: "bg-black text-[#764abc]",
        icon: ReduxIcon,
    },

    CSS: {
        name: "CSS",
        class: "bg-black text-yellow",
        icon: CssIcon,
    },

    EXPRESS: {
        name: "Express.js",
        class: "bg-black text-white",
        icon: ExpressIcon,
    }
};
const PROJECTS = [
    {
        title: "Bodu Games - Proyecto grupal de Henry",
        description: "Una página dónde podes encontrar tus juegos de mesa favoritos. Creado usando React y CSS puro",
        link: "https://front-project-board-games.vercel.app/",
        github: "https://github.com/dasava11/front_project_board_games",
        tags: [TAGS.REACT, TAGS.REDUX, TAGS.CSS, TAGS.EXPRESS],
        image: "/Projects/bodu.webp",
        alt: "Captura de pantalla del proyecto: Bodu Games",
    },

    {
        title: "Dogs - proyecto individual de henry",
        description: "una página donde podrás ver tus perritos favoritos. fue creado usando react y express",
        link: "",
        github: "https://github.com/nahuellescano/dogs-client",
        tags: [TAGS.REACT, TAGS.REDUX, TAGS.CSS, TAGS.EXPRESS],
        image: "/Projects/dogs.webp",
        alt: "captura de pantalla del proyecto: Rick and Morty",
    },

    {
        title: "Rick And Morty - Primer proyecto individual en Henry bootcamp",
        description: "Una página dedicada a la serie de Rick y Morty, donde encontrarás todos personajes favoritos. Hecho con React, Express y PostgreSQL",
        link: "",
        github: "https://github.com/nahuellescano/dogs-client",
        tags: [TAGS.REACT, TAGS.REDUX, TAGS.CSS, TAGS.EXPRESS],
        image: "/Projects/Rick-and-Morty.webp",
        alt: "captura de pantalla del proyecto: dogs",
    },
];
---
<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, alt, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
            <div
                class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                <img
                    src={image}
                    alt={alt}
                    class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                    loading="lazy"
                />
            </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
            <h1 class="text-2xl font-bold text-blue-700">
                {title}
            </h1>
            <div class="flex flex-wrap mt-2">
                <ul class="flex flex-row mt-2 mb-2 gap-x-2">
                    {tags.map((tag) => (
                        <li>
                            <span
                                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                            >
                                <tag.icon class="size-4" />
                                    {tag.name}
                            </span>
                        </li>
                    ))}
                </ul>

            <h3 class="mt-2 text-pretty text-sl font-semibold">{description}</h3>
            <footer class="flex items-end justify-start mt-4 gap-x-2">
                {github && (
                    <LinkButton href={github}>
                        <GithubIcon class="size-6" />
                        Code
                    </LinkButton>
                )}
                {link && (
                    <LinkButton href={link}>
                        Preview
                    </LinkButton>
                )}
            </footer>
        </div>
    </article>
    ))
  }
</div>
